<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vhouzi.abc.admin.system.mapper.SysWechatMenuMapper">
    <resultMap id="BaseResultMap" type="com.vhouzi.abc.admin.system.domain.wechat.WechatMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="menu_id" jdbcType="VARCHAR" property="menuId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="menu_json" jdbcType="VARCHAR" property="menuJson"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">id, menu_id, `type`, menu_json,remark, create_time</sql>

    <select id="selectSelective" parameterType="com.vhouzi.abc.admin.system.domain.wechat.WechatMenu"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_wechat_menu
        <trim prefix="where" prefixOverrides="and|or">
            <if test="menuId != null">
                and menu_id = #{menuId,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and `type` = #{type,jdbcType=VARCHAR}
            </if>
            <if test="menuJson != null">
                and menu_json = #{menuJson,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_wechat_menu
    where id = #{id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByMenuId" parameterType="java.lang.String">
    delete from sys_wechat_menu
    where menu_id = #{menuId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.vhouzi.abc.admin.system.domain.wechat.WechatMenu" useGeneratedKeys="true">
    insert into sys_wechat_menu (menu_id, `type`, menu_json,remark,
      create_time)
    values (#{menuId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{menuJson,jdbcType=VARCHAR},remark,
      #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.vhouzi.abc.admin.system.domain.wechat.WechatMenu" useGeneratedKeys="true">
        insert into sys_wechat_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="type != null">
                `type`,
            </if>
            <if test="menuJson != null">
                menu_json,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="menuJson != null">
                #{menuJson,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.vhouzi.abc.admin.system.domain.wechat.WechatMenu">
        update sys_wechat_menu
        <set>
            <if test="menuId != null">
                menu_id = #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="menuJson != null">
                menu_json = #{menuJson,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.vhouzi.abc.admin.system.domain.wechat.WechatMenu">
    update sys_wechat_menu
    set menu_id = #{menuId,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      menu_json = #{menuJson,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>